@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

#menu{
  position: fixed;
  width: 100%;
  z-index:10000 ;
  top: 0;
  background-color: #A9A9A9	;
}
.menuimgs{
  display: inline-block;

}
#username{
    color: white;
}
.card-img-top {
    height:220px;
    width:100%;
    display: block;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  }

  .checked {
    color: orange;
}
.poitable-td:hover{
    background: yellow;
    text-decoration: underline;
}

#mapid { height: 300px; width: 100%; }

hr{
    width: 100%;
}

.list-ic a {
    color: #788288;
    text-decoration: none;
  }
  .list-ic li {
    position: relative;
  }
  .list-ic li span {
    display: inline-block;
    font-weight: 800;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 1em;
    background:#ff6d63;
    color: white;
    position: relative;
  }
  .list-ic li::before {
    content: '';
    position: absolute;
    background: #ff6d63;
    z-index: -1;
  }
  .list-ic.horizontal li {
    display: inline-block;
  }
  .list-ic.horizontal li span {
    margin: 0 1em;
  }
  .list-ic.horizontal li::before {
    top: 0.9em;
    left: -25px;
    width: 4em;
    height: 0.2em;
  }
  .list-ic.vertical {
    padding: 0;
    margin: 0;
  }
  .list-ic.vertical li {
    list-style-type: none;
    text-align: left;
  }
  .list-ic.vertical li span {
    margin: 1.4em 0;
  }
  .list-ic.vertical li::before {
    top: -35px;
    left: 13px;
    width: 0.2em;
    height: 4em;
  }
  .list-ic li:first-child::before {
    display: none;
  }
  .list-ic .active {
    background: dodgerblue;
  }
  .list-ic .active ~ li {
    background: lightblue;
  }
  .list-ic .active ~ li::before {
    background: lightblue;
  }
  .button {
    color: white;
    display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
    position: relative; /* All 'absolute'ly positioned elements are relative to this one */
    padding: 2px 5px; /* Add some padding so it looks nice */
  }
  
  /* Make the badge float in the top right corner of the button */
  .button__badge {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;
   
    padding: 1px 3px;
    font-size: 10px;
    
    position: absolute; /* Position the badge within the relatively positioned button */
    top: 0;
    right: 0;
  }
.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }







/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  background-image: url("https://www.housingwire.com/ext/resources/images/editorial/A-New-Big-Images/states/New-York-City.jpg?1453402066");
   background-color: #cccccc;
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

#mainabout{
  background-image: url("https://lonelyplanetimages.imgix.net/mastheads/GettyImages-538096543_medium.jpg?sharp=10&vib=20&w=1200");
  color: White;
  background-repeat: no-repeat;
  background-size: cover;


}
#about1{
  background-image: url("http://media.guestofaguest.com/t_article_content/gofg-media/2016/05/1/46251/13113993_561484980696845_1656624708_n.jpg");
  color: #800000;
  background-repeat: no-repeat;
  background-size: cover;

}
#about11{
  color: white;
  font-size: 22px;
  font-style: italic;
}
#about2{
  background-image: url("http://media.guestofaguest.com/t_article_content/gofg-media/2016/05/1/46251/13092444_227594704280610_744327126_n.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
#about21{
  color: black;
  font-size: 22px;
  font-style: italic;
}
/*
 * Extra utilities
 */


.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}
.button-design {
  cursor: pointer;
 }
 #homeDiv {

  background-image:url(https://vastphotos.com/files/uploads/photos/10125/black-white-nyc-skyline-hudson-l.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30%;
  background-position: 0px -320px;
 }
 #poipage{

  background-image:url(https://vastphotos.com/files/uploads/photos/10125/black-white-nyc-skyline-hudson-l.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30%;
  background-position: 0px -320px;
 }

.overflow-hidden { overflow: hidden; }
















