<div id="mainabout" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="display-4 font-weight-normal">New York</h1>
          <p class="lead font-weight-normal">"One belongs to New York instantly, one belongs to it as much in five minutes as in five years"</p>
        </div>
      </div>
  
      <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div id="about2" class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">Why you should stay  </h2>
          </div>
          <div id="about21"  class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">    As I make my way down the city street, I feel overwhelmed by people walking and talking in scores of different languages. People with looks that I have never seen before.Everyone is different in their ownere way of style. What I am trying to say is that New York is the inventor of all invertors. I perceive New York City as a carefree expression of freedom.  </div>

        </div>

        <div id="about1" class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 style="color:black" class="display-5">Why you should visit</h2>
          </div>
          <div id="about11" class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">    New York City is the place that I want to visit, revisit, and visit again. Out there on the streets, I feel free. Have you ever wanted to vacation somewhere where there is amazing history, great food, cool restaurants, and plenty of shopping. If so, catch the soonest flight to New York City because New York City is the most amazing city in the world!   </div>

        </div>
      </div>
  