</br>
</br>
</br>
</br>
</br>




<h1> Login </h1>


<div ng-controller="loginController">
  <div class="container">
    <form ng-submit="submit_log()">
        Username: <input type="text" ng-model="user.username" required>
        Password: <input type="password" ng-model="user.password" required>
        <input type="submit" value="Login" />

    </form>
    <p><a href='#/forgot'>Forgot Password</a></p>
    <button ng-click='goToRegister()'>Register</button>
    </div>
       
</div>

<div ng-controller="loginController">
        <div class="album py-5 bg-light" >
                <div class="container">
                  <div class="row" >
                    <div class="col-md-4">
                      <div class="card mb-4 box-shadow" >
                        <img class="card-img-top" ng-src="{{randomImg[0].image}}" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" ng-click="sendPOI(randomImg[0].ID)" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#myModal">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                        <img class="card-img-top" ng-src="{{randomImg[1].image}}" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">

                              <button type="button" ng-click="sendPOI(randomImg[1].ID)" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#myModal">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                        <img class="card-img-top" ng-src="{{randomImg[2].image}}" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" ng-click="sendPOI(randomImg[2].ID)" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#myModal">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
</div>

